src/main/app/flow-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" basePath="/flow-demo" doc:name="HTTP Listener Configuration"/>
    <db:generic-config name="Generic_Database_Configuration" url="jdbc:postgresql://192.168.99.102:32768/postgres?user=postgres&amp;password=postgres" driverClassName="org.postgresql.Driver" doc:name="Generic Database Configuration"/>
    <flow name="mainflow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/main" allowedMethods="GET" doc:name="HTTP"/>
        <logger message="main flow logger 1" level="INFO" doc:name="Logger"/>
        <async doc:name="Async">
            <flow-ref name="dbsubflow" doc:name="Flow Reference"/>
        </async>
        <logger message="main flow logger 2" level="INFO" doc:name="Logger"/>
    </flow>
    <sub-flow name="asyncsubflow">
        <logger message="async flow" level="INFO" doc:name="Logger"/>
        <scripting:component doc:name="Groovy">
            <scripting:script engine="Groovy"><![CDATA[sleep(5000);
return message.payload;]]></scripting:script>
        </scripting:component>
        <logger message="async after script" level="INFO" doc:name="Logger"/>
    </sub-flow>
    <sub-flow name="dbsubflow">
        <db:select config-ref="Generic_Database_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[select * from artists]]></db:parameterized-query>
        </db:select>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <logger message="#[message.payload]" level="INFO" doc:name="Logger"/>
    </sub-flow>
    <sub-flow name="subflow">
        <logger message="sub flow logger 1" level="INFO" doc:name="Logger"/>
    </sub-flow>
</mule>
